.active>a,
.point-color,
.point-hover:hover,
a.point-hover:hover,
.navik-menu-fixed ul li:hover>a, 
.navik-menu-fixed>ul>li.current-menu>a,
.navik-menu ul li:hover>a,
.navik-menu ul li.current-menu>a {color:#ffffff!important;}
.point-bg {background-color:#ED5929;}
.point-bghover:hover {color:#fff !important;background-color:#ED5929 !important;}
.navik-menu.submenu-top-border li>ul {border-top-color: #ED5929!important;;}
#owl-parallax .item a:hover h4 {color:#ED5929 !important;}
.btn-line:hover {border-color:#ED5929!important;}
#kso-about .about-item.bg1 {background-color: #0AA2E5;}#kso-about .about-item.bg2 {background-color: #F596B4;}#kso-about .about-item.bg3 {background-color: #4283E1;}#kso-about .about-item.bg4 {background-color: #55C7C8;}#kso-about .about-item.bg5 {background-color: #B485D5;}#kso-about .about-item.bg6 {background-color: #F8BD83;}/* media query */
@media (min-width: 992px) { 
	.navik-menu>ul>li>a {padding-left:40px;padding-right:40px;}
	.sub-header,
	.sub-header>.container>.row {height:0px;}
	.sub-header {background-image: url(https://source.unsplash.com/3MFaGslt5OI/1920x500);}		}
@media (min-width: 1200px) {
	.navik-menu.separate-line>ul>li>a {padding-left:30px;padding-right:30px;}
		.sub-header {background-image: url(https://source.unsplash.com/3MFaGslt5OI/1920x500);}}
@media (max-width: 991px) { 
	/*.sub-header,
	.sub-header>.container>.row {height: 200px;}*/
	}

#google_translate_element {
	opacity: 1;
}
#google_translate_element > div > div > select {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	display: block;
	width: 100%;
	max-width: 150px;
	height: 30px;
	float: right;
	margin: 5px 0px;
	padding: 0px 15px;
	font-size: 14px;
	line-height: 1.75;
	color: #333;
	border: 1px solid #cccccc;
	-ms-word-break: normal;
	word-break: normal;
	border-radius: 10px;
	outline: none;
}
#google_translate_element > div > div {
	position: relative;
	min-width: 100px;
	height: 0;
}
#google_translate_element > div > div > select::-ms-expand {
	display: none;
}

#google_translate_element > div > div:after {
	content: '<>'; /* 목록 펼침 아이콘 */
	font: 14px "Consolas", monospace;
	color: #333;
	transform: rotate(90deg);
	right: 11px;
	top: 10px;
	padding: 0 0 2px;
	border-bottom: 1px solid #999;
	position: absolute;
	pointer-events: none;
}
.skiptranslate span {
	display: none;
}
.goog-te-combo {
	color: #444;
}
.skiptranslate
.goog-logo-link,
.goog-te-gadget {
	color: white !important;
}
.goog-logo-link img {
	display: none;
}
.goog-te-gadget {
	font-size: 0 !important;
}

/* 구글 번역 팝업창 없애는 코드!! */
.goog-tooltip {display: none !important;} 
.goog-tooltip:hover {display: none !important;} 
.goog-text-highlight {background-color: transparent !important; border: none !important; box-shadow: none !important;}
body { position: static !important; top:0px !important; } 
iframe.goog-te-banner-frame { display: none !important; } 
.goog-logo-link { display:none !important; }  
.goog-te-gadget { color: transparent !important; overflow: hidden;}  
.goog-te-balloon-frame{display: none !important;}  


.g_first_box {
	width: 170px;
	max-width: 100%;
	height: 50px;
}
.g_second_box {
	width: 100%;
	height: 80%;
	display: flex;
	justify-content: space-between;
}
.lang_img {
	width: 30px;
	margin: 10px 0 0 10px;
}


@media (max-width: 1920px) {
	.flex_nav {padding-left: 170px;}
    .logo img {max-width:100%;}
    .logo > div {
        display: flex;
        gap: 20px;
        justify-content: center;
		align-items: center;
    }
}
@media (max-width: 1700px) {
}
@media (max-width: 1570px) {
	.flex_nav {padding-left: 135px;}
}
@media (max-width: 1400px) {
	.flex_nav {padding-left: 105px;}
}
@media (max-width: 1370px) {
}
@media (max-width: 1270px) {
	.flex_nav {padding-left: 80px;}
}
@media (max-width: 1200px) {
    .logo img {max-width:85% !important; min-width: 170px;}
    .logo > div {justify-content: flex-start; gap: 0; flex-direction: column; align-items: baseline;}
}
@media (max-width: 770px) {
    .logo img {max-width: 33% !important;}
    .d-md-none {
        display: inline-block;
        text-align: center;
    }
}
@media (max-width: 445px) {
	#google_translate_element > div > div > select {max-width: 100px; padding: 0 10px; font-size: 12px;}
    #google_translate_element > div > div:after {font-size: 12px;}
    .logo img {max-width:85% !important;}
    .owl-h1 {font-size: 14px !important;}
    .owl-h4 {font-size: 13px !important;}
    .owl-p {font-size: 12px !important;}
    .btn-kso {margin-top: 18px !important;}
}
	
.flex_nav {
	display: flex;
    justify-content: flex-start;
    z-index: 999;
}
.navik-sidebar-right.fixed-sidebar-open {
    transform: translateX(0);
}


/* /////////////////////////////////////////////////////////// */
/* /////////////////////////////////////////////////////////// */
/* /////////////////////////////////////////////////////////// */

.text-justify h4 {
    font-size: 22px;
    color: #4283E1;
    margin-bottom: 20px;
}
.d-md-none {
    display: none;
    text-align: center !important;
}
th {
    background: #f1f2f9;
    min-width: 150px;
    text-align: center;
    white-space: nowrap;
}
.table>:not(caption)>*>* {
    padding: 0.5rem 0.5rem;
    border-bottom-width: 1px;
    box-shadow: inset 0 0 0 9999px var(--bs-table-accent-bg);
}
.table-floor {
    border-top: 2px solid #beccf1;
    border-bottom: 1px solid #beccf1;
}
.table {
    --bs-table-bg: transparent;
    --bs-table-accent-bg: transparent;
    --bs-table-striped-color: #212529;
    --bs-table-striped-bg: rgba(0, 0, 0, 0.05);
    --bs-table-active-color: #212529;
    --bs-table-active-bg: rgba(0, 0, 0, 0.1);
    --bs-table-hover-color: #212529;
    --bs-table-hover-bg: rgba(0, 0, 0, 0.075);
    width: 100%;
    margin-bottom: 1rem;
    color: #212529;
    vertical-align: top;
    border-collapse : collapse;
    border-spacing : 0;
}
.mb-5 {
    margin-bottom: 3rem!important;
}
.table-floor th {
    min-width: 150px;
    text-align: center;
    background-color: #f1f2f9;
    white-space: nowrap;
    border-top: 1px solid #beccf1;
    color: #777;
    font-weight: 500;
}
.table-floor td {
    text-align: left;
    color: #777;
    font-weight: 400;
    border-top: 1px solid #beccf1;
}
.svg-inline--fa {
    display: inline-block;
    font-size: inherit;
    height: 1em;
    overflow: visible;
    vertical-align: -0.125em;
}
svg:not(:root).svg-inline--fa {
    overflow: visible;
}
.svg-inline--fa.fa-w-14 {
    width: 0.875em;
}


@media (max-width: 991px) {
    .d-md-none {
        display: block !important;
        color: #777;
        font-size: 16px;
        margin-bottom: 5px;
    }
}