.col-lg-12 {
    font-size: 15px;
    color: #777;
}
.col-lg-12 h4 {
    font-weight: 500;
    color: #333;
    font-size: 25px;
}


.no-gutters {
    margin-top: 40px;
    display: flex;
    align-items: flex-start;
    gap: 20px;
}
.col-lg-3  {
    width: 35.333%;
    font-size: 15px;
    color: #777;
    line-height: 25px;
}
.text_box h5 {
    font-size: 18px !important;
    color: #333;
    font-weight: 500;

    word-break: break-all;
    overflow: hidden;
    text-overflow: ellipsis;
}
.text_box {
    font-size: 16px !important;
    margin-top: 25px !important;
}

.img-fluid {
    max-width: 100%;
    height: auto;
}
.img_box_text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.img_box_text h5 {
     font-size: 18px;
     margin: 10px 0 0 0  !important;
}   
.img_box_text div {
    font-size: 16px;
}

@media (max-width: 1400px) {
    .nav_height  {
        justify-content: center !important;
    }
    .main .container {
        max-width: 1150px !important;
    }
} 
@media (max-width: 991px) {
    .main .container {
        max-width: 100% !important;
        padding: 0 20px;
        box-sizing: border-box;
    }
    .no-gutters {
        flex-direction: column;
        align-items: flex-start !important;
    }
    .img_box_text {
        width: 100%;
    }
    .img_box_text h5 {
        font-size: 22px;
        margin-top: 15px;
    }
    .img_box_text div {
        font-size: 16px;
        margin-top: 5px;
    }
    .col-lg-3  {
        width: 100%;
        font-size: 15px;
        color: #777;
        line-height: 25px;
    }
    
    .text_box {
        margin-bottom: 30px !important;
    }
}