body {margin: 0; padding: 0; font-family:'Open Sans','Noto Sans KR','Apple SD 산돌고딕 Neo','Apple SD Gothic Neo','나눔고딕',NanumGothic,ng,sans-serif ;}
ul {
    margin: 0;
    padding: 0;
    list-style: none;
}
a {
    display: inline-block;
    color: inherit;
    text-decoration: none;
    margin: 0;
    padding: 0;
}
.wrap {
    width: 100%;
    max-width: 2000px;
}
.container {
    width: 100%;
    max-width: 1320px;
    margin: 0 auto;
}
.h_fixed {
    width: 100%;
    position: fixed;
    padding: 10px 0;
    box-sizing: border-box;
    background-color: #fff;
    z-index: 99;
    
    box-shadow: 0 0 30px #999;
}
.h_flex {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 30px;
    box-sizing: border-box;
}

/* google translate */
#google_translate_element > div > div > select {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	display: block;
	width: 100%;
	max-width: 150px;
	height: 30px;
	float: right;
	margin: 5px 0px;
	padding: 0px 15px;
	font-size: 14px;
	line-height: 1.75;
	color: #333;
	border: 1px solid #cccccc;
	-ms-word-break: normal;
	word-break: normal;
	border-radius: 10px;
	outline: none;
}
#google_translate_element > div > div {
	position: relative;
	min-width: 100px;
	height: 0;
}
#google_translate_element > div > div > select::-ms-expand {
	display: none;
}

#google_translate_element > div > div:after {
	content: '<>'; /* 목록 펼침 아이콘 */
	font: 14px "Consolas", monospace;
	color: #333;
	transform: rotate(90deg);
	right: 11px;
	top: 10px;
	padding: 0 0 2px;
	border-bottom: 1px solid #999;
	position: absolute;
	pointer-events: none;
}
.skiptranslate span {
	display: none;
}
.goog-te-combo {
	color: #444;
}
.skiptranslate
.goog-logo-link,
.goog-te-gadget {
	color: white !important;
}
.goog-logo-link img {
	display: none;
}
.goog-te-gadget {
	font-size: 0 !important;
}

/* 구글 번역 팝업창 없애는 코드!! */
.goog-tooltip {display: none !important;} 
.goog-tooltip:hover {display: none !important;} 
.goog-text-highlight {background-color: transparent !important; border: none !important; box-shadow: none !important;}
body { position: static !important; top:0px !important; } 
iframe.goog-te-banner-frame { display: none !important; } 
.goog-logo-link { display:none !important; }  
.goog-te-gadget { color: transparent !important; overflow: hidden;}  
.goog-te-balloon-frame{display: none !important;}  


.g_first_box {
	width: 170px;
	max-width: 100%;
	height: 50px;
}
.g_second_box {
	width: 100%;
	height: 80%;
	display: flex;
	justify-content: space-between;
}
.lang_img {
	width: 30px;
	margin: 10px 0 0 10px;
}
.row {word-break: break-all;}

/* logo */
.logo_box {
    display: inline-block;
}
.logo_box img {
    width: 100%;
    max-width: 167px;
    height: 50px;
}

/* burger */
.burger_menu_box {
    width: 50px;
    height: 60px;
    padding: 20px 15px;
    box-sizing: border-box;
    display: none;
}
.burger_menu_box > span {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    height: 17px;
    background-color: #ED5929;
    /* transition: transform 330ms ease-out,-webkit-transform 330ms ease-out; */
}
.line_menu {
    height: 3px;
    border-radius: 2px;
}
.first_line {
    transform-origin: right;
    width: 50%;
}
.last_line {
    align-self: flex-end;
    transform-origin: left;
    width: 50%;
}


/* nav */
.nav_box {
    width: 100%;
    height: 60px;
}
.nav_height {
    height: 100%;
    display: flex;
    justify-content: flex-start;
    gap: 40px;
    align-items: center;
}
.all_see {
    display: inline-block;
    padding: 10px 15px;
    box-sizing: border-box;
}
.nav_ul {display: inline-block;}
.nav_ul > li {
    display: inline-block;
    position: relative;
    font-weight: 600;
}
.nav_ul > li > a { 
    padding: 10px 40px;
    box-sizing: border-box;
    /* background-color: rgb(255, 255, 255); */
}
.n_nav_ul {
    width: 100%;
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 50px;

    box-shadow: 0 12px 30px -2px rgb(0 0 0 / 10%);
}
.n_nav_ul > li {
    width: 100%;
    padding: 10px 20px;
    box-sizing: border-box;
    background-color: rgb(255, 255, 255);
    color: #818181;
    font-weight: 500;

    font-size: 14px;
}
.nav_ul > li:nth-of-type(3) > a {
    padding: 10px 30px;
}
.nav_ul > li:nth-of-type(4) > .n_nav_ul {
    overflow-y: scroll;
    height: 600px;
}
.nav_ul > li:nth-of-type(4) > .n_nav_ul::-webkit-scrollbar {
    width: 3px;
}
.nav_ul > li:nth-of-type(4) > .n_nav_ul::-webkit-scrollbar-thumb {
    height: 30%;
    background-color: #ED5929; /* #217af4 */

    border-radius: 10px;
}
.nav_ul > li:nth-of-type(4) > .n_nav_ul::-webkit-scrollbar-track {
    background: rgba(244, 68, 33, 0.1); /*  rgba(33, 122, 244, .1)*/
}
.nav_ul >li:hover,
.nav_ul > li > .n_nav_ul > li:hover {
    color: #ED5929 ;
}

.nav_ul > li::before {
    content: "";
    position: absolute;
    top: 50%;
    right: 0;
    width: 1px;
    height: 20px;
    background-color: #eee;
    transform: translateY(-50%);
}
.nav_ul > li:nth-of-type(7):before {
    display: none;
}

@media (max-width: 1260px) {
    .nav_ul > li > a {
        padding: 10px 30px;
    }
    .nav_height {gap: 20px;}
}
@media (max-width: 1200px) {
    .container {max-width: 1140px;}
    .nav_box {display: none;}
    .burger_menu_box {
        display: inline-block;
    }
    .h_flex {
        justify-content: space-between;
    }
    .h_fixed {height: 60px; padding: 0;}
}
@media (max-width: 992px) {
    .container {max-width: 960px;}
}
@media (max-width: 768px) {
    .container {max-width: 720px;}
}
@media (max-width: 450px) {
    .h_flex {padding: 0 10px;}
}