body {font-family: 'Open Sans','Noto Sans KR','Apple SD 산돌고딕 Neo','Apple SD Gothic Neo','나눔고딕',NanumGothic,ng,sans-serif;}
html { scroll-behavior: smooth;}

.shorts_open_box {
    position: absolute;
    top: -270px;
    display: flex;
    border-top-right-radius: 30px;
}
.short_cut_box  {
    position: relative !important;
}
/* .s_open {
   position: absolute;
}
.s1 {
    top: -270%;
    left: 0;
}
.s5 {
    transform: translateX(300%);
}
.s3 {
    transform: translateX(200%);
}
.s2 {
    transform: translateX(100%);
}
.s6 {
    top: -270%;
    right: 0;

} */
.s_box {
    
    width: 250px;
    height: 80px;
    justify-content: center;
    align-items: center;
}
.shorts_box {
    width: 100%;
    display: flex;
    justify-content: center;
    color: #fff;
    align-items: center;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    box-shadow: 0 0 20px #b9b9b9;
    position: absolute;
    top: 0px;
    z-index: 999;
}

/* shorts_mb */
.shorts_mb > .swiper-container {
	width:640px;
	height:420px;
	border:5px solid silver;
	border-radius:7px;
	box-shadow:0 0 20px #ccc inset;
}
.shorts_mb > .swiper-slide {
	text-align:center;
	display:flex; /* 내용을 중앙정렬 하기위해 flex 사용 */
	align-items:center; /* 위아래 기준 중앙정렬 */
	justify-content:center; /* 좌우 기준 중앙정렬 */
}
.shorts_mb > .swiper-slide img {
	box-shadow:0 0 5px #555;
}
.mySwiper5 > .swiper-button-prev, 
.mySwiper5 > .swiper-rtl .swiper-button-next,
.mySwiper5 > .swiper-button-next, 
.mySwiper5 > .swiper-rtl .swiper-button-prev {
    color: #ff7b00 !important;
}
.mySwiper5 > .swiper-wrapper {
    align-items: flex-start !important;
}
.mb_text_box {
    display: none;
}
.s_mb_box a {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    justify-content: center;
}
.si_text_2 {
    font-size: 18px;
    font-weight: 500;
    color: #333;
}

.si_icon_2 > img {
    width: 100%;
}



.s_inner_box {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 240px;
    height: 80px;
    font-size: 23px;
    font-weight: 600;
    gap: 10px;
    cursor: pointer;
}
.si_icon {
    width: 30px;
    height: 30px;
    padding-top: 8px;
}
.si_icon img {
    width: 100%;
}
.color1 {background-color: #ffb701; border-bottom-left-radius: 30px;}
.color2 {background-color: #ffaa01;}
.color3 {background-color: #ffa200;}
.color4 {background-color: #ff9501;}
.color5 {background-color: #ff8800;}
.color6 {background-color: #ff7c00; border-bottom-right-radius: 30px;}


.so_inner_box {
    position: absolute;
    top: -275px;
    border-top-right-radius: 30px;
}
.so_inner_box a {
    display: flex;
    align-items: center;
    width: 250px;
    height: 350px;
    padding: 35px 0;
    box-sizing: border-box;
    
    justify-content: space-between;
    flex-direction: column;
}
.soi_text_box {
    font-size: 23px;
    color: #fff;
}
.soi_icon {
    width: 100%;
    text-align: center;
    cursor: pointer;
}
.soi_icon img {
    width: 40%;
}
.soi_icon a {
    width: 100%;
}
.soi_img_box {
    width: 80%;
    height: 150px;
    border-radius: 10px;
    overflow: hidden;
}
.s_open  {
    transition: all 0.2s linear;
    z-index: -8;
    opacity: 0;
}
.short_cut_box  {
    display: flex;
    justify-content: center;
}
.soi_1 {
    background: url(../img/common/shorts_ba_1.jpg) no-repeat;
    background-position: center;
    background-size: cover;
}
.soi_2 {
    background: url(../img/common/shorts_ba_2.jpg) no-repeat;
    background-position: center;
    background-size: cover;
}
.soi_3 {
    background: url(../img/common/shorts_ba_3.jpg) no-repeat;
    background-position: center;
    background-size: cover;
}
.soi_5 {
    background: url(../img/common/shorts_ba_5.jpg) no-repeat;
    background-position: center;
    background-size: cover;
}
.soi_6 {
    background: url(../img/common/shorts_ba_6.jpg) no-repeat;
    background-position: center;
    background-size: cover;
}
.soi_img_box img {
    width: 100%;
}


.today_menu a, 
.employment a, 
.press_report a, 
.notice a {
    background-color: #fff;
} 


.mySwiper2 .swiper-slide {
    background-color: transparent;
}
.mySwiper2 {
    overflow: visible;
}
.contain {
    width: 100%;
    margin: auto;
    max-width: 100% !important;
}
.swiper_box3 {
    flex-direction: column;
    padding-top: 0 !important;
}

@media (max-width:1400px) {
    .shorts_box {top: -5px;}
    .shorts_open_box {top: -275px;}
}
@media (max-width: 1346px) {
    .so_inner_box a {
        width: 240px;
    }
}
@media (max-width:1200px) {
    .desk,
    .h_nav_ul {
        display: none !important;
    }
    .head_flex {
        padding: 10px 10px;
        box-sizing: border-box;
        justify-content: center !important;
       
    }
  
    .moblie_logo {
        display: inline-block;
    }
    .h_nav_box {
        width: 100%;
        justify-content: space-between !important;
    }
    .moblie_logo img {
        width: 100%;
    }
    .bur_pan_box {
        overflow-y: scroll;
    }
    .b_pan_box {
        height: 130vh;
        background-position: left;
        background-origin: bottom;
    }
    .cent_bur_ul {
        width: 50%;
    }

    .bur_pan_box::-webkit-scrollbar {
        width: 3px;
    }
    .bur_pan_box::-webkit-scrollbar-thumb {
        height: 30%;
        background-color: #ffffff; /* #217af4 */
    
        border-radius: 10px;
    }
    .bur_pan_box::-webkit-scrollbar-track {
        background: rgba(244, 68, 33, 0.1); /*  rgba(33, 122, 244, .1)*/
    }
    .moblie_2 {
        display: none;
    }
    .ham_box_2 {
        width: 80px;
        display: flex;
        justify-content: flex-end;
    }

}
@media (max-width:767px)  {
    .bur_ul {
        flex-wrap: wrap;
    }
    .li_2 {width: 100%;}
    .li_1 {width: 48%;}
    .b_pan_box {padding: 0 10px; box-sizing: border-box;  background-attachment: fixed;    height: 150vh;}
    .bur_box {padding: 30px 0; box-sizing: border-box;}
    
}
@media (max-width: 600px) {
    .si_icon_2 {
        height: 70px;
    }
}
@media (max-width:530px)  {
    .li_2 {width: 100%;}
    .li_1 {width: 100%;}
    .ul_spe {flex-direction: column;}
    .ul_spe li {
        margin-left: 0;
    }
    .bur_li_text_box {
        flex-direction: column;
    }
    .cent_bur_ul {
        width: 100%;
    }
    
    .b_pan_box {padding: 0 10px; box-sizing: border-box;  background-attachment: fixed;    height: 380vh;}
    .ham_box {gap: 7px;}
    .moblie_logo {
        width: 17%;
    }
    .moblie_1 {
        display: none;
    }
    .moblie_2 {
        display: block;
    }
    .bur_u_li {color: #fff !important;}

}

@media (max-width: 500px) {
    .more_plus {
        position: static;
    }
    .news_title_box {justify-content: space-between;}
    .box_max_witdh {height: 110vh;}
}
@media (max-width:400px) {
    #google_translate_element > div > div:after {
        top: 5px !important;
    }
    .head_flex {
        padding: 10px 0;
        box-sizing: border-box;
        justify-content: center !important;
       
    }
    
    .ham_box_2 {
        width: 60px;
        display: flex;
        justify-content: flex-end;
        padding-right: 10px;
    }
    .si_icon_2 {
        height: 50px;
    }
 
}
@media (max-width: 300px) {
    .mySwiper5 > .swiper-button-prev, 
    .mySwiper5 > .swiper-rtl .swiper-button-next,
    .mySwiper5 > .swiper-button-next, 
    .mySwiper5 > .swiper-rtl .swiper-button-prev {
        display: none;
    }
    .mb_text_box {
        display: block;
        text-align: center;
        font-size: 15px;
        color: #8b8b8b;
        padding-bottom: 30px;
        box-sizing: border-box;
    }
    .arrow {
        width: 10%;
        transform: rotate(-90deg);
    }
    .arrow img {
        width: 100%;
    }
}