body {font-family: 'Open Sans','Noto Sans KR','Apple SD 산돌고딕 Neo','Apple SD Gothic Neo','나눔고딕',NanumGothic,ng,sans-serif;}
.window_black {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.446);
    position: absolute;
    z-index: 998;
    display: none;
}
.h_nav_box {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 20px;
}
.header {
    height: 96px !important;
}
.head_flex {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
    box-sizing: border-box;
    background-color: #fff;

    position: fixed;
    z-index: 99999;
}
.h_nav_box > ul {
    display: flex;
    position: relative;
}
.h_nav_li {
    padding: 30px 30px;
    font-size: 25px;
    font-weight: 500;
    position: relative;
    transition: all 0.2s linear;
    cursor: pointer;
}
.google_lang_box {
    display: flex;
    align-items: center;
}

.ham_box {
    width: 30px;
    height: 38px;
    border-radius: 5px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 10px;
}
.line {
    width: 100%;
    height: 5px;
    background-color: rgb(39, 39, 39);
    border-radius: 10px;
}
.second_l {
    width: 60% !important;
}
.n_pan_box {
    height: 300px;
}

.nav_pan_box {
    width: 100%;
    height: 0;
    background-color: #f7f7f7;
    position: fixed;
    top: 96px;
    z-index: 999;
    transition: all 0.2s linear;
    overflow: hidden;
}
.n_pan {
    width: 1300px;
    height:0;
    padding: 30px 0;
    box-sizing: border-box;
    font-size: 20px;
    font-weight: 500;
    opacity: 0;
    
    transition: all 0.2s linear;
    position: absolute;
    overflow: hidden;
}
.npan_li:hover {
    color: #ff9f1c;
}

.n_pan_2 .n_inner_pan_box {
    height: 240px;
    overflow: hidden;
    display: flex;
    gap: 30px;
}
.n_pan2_left {
    margin-left: 90px;
}
.nav_0::before {
    content: "";
    width: 5px;
    height: 5px;
    border-radius: 50%;
    background-color: #fff;
    border: 5px solid #ff9f1c;
    position: absolute;
    top: 35px;
    right: 10px;
    opacity: 0;
    transition: all 0.2s linear;
}
.nav_1::before {
    content: "";
    width: 5px;
    height: 5px;
    border-radius: 50%;
    background-color: #fff;
    border: 5px solid #ff9f1c;
    position: absolute;
    top: 35px;
    right: 10px;
    opacity: 0;
    transition: all 0.2s linear;
}
.nav_2::before {
    content: "";
    width: 5px;
    height: 5px;
    border-radius: 50%;
    background-color: #fff;
    border: 5px solid #ff9f1c;
    position: absolute;
    top: 35px;
    right: 10px;
    opacity: 0;
    transition: all 0.2s linear;
}
.nav_3::before {
    content: "";
    width: 5px;
    height: 5px;
    border-radius: 50%;
    background-color: #fff;
    border: 5px solid #ff9f1c;
    position: absolute;
    top: 35px;
    right: 10px;
    opacity: 0;
    transition: all 0.2s linear;
}
.nav_3:hover::before,
.nav_2:hover::before, 
.nav_1:hover::before,
.nav_0:hover::before {
    content: "";
    opacity: 1;
    top: 25px;
}
.moblie_logo {
    display: none;
}
#google_translate_element > div > div > select {
    overflow: scroll;
}
#google_translate_element > div > div > select::-webkit-scrollbar {
    width: 3px;
}
#google_translate_element > div > div > select::-webkit-scrollbar-thumb {
    height: 30%;
    background-color: #ff9f1c; /* #217af4 */

    border-radius: 10px;
}
#google_translate_element > div > div > select::-webkit-scrollbar-track {
    background: rgba(244, 68, 33, 0.1); /*  rgba(33, 122, 244, .1)*/
}
#google_translate_element > div > div {
    min-width: auto !important;
}
#google_translate_element > div > div select option:nth-child(1) {
    display: none;
}

@media (max-width:1200px) {
    .desk,
    .h_nav_ul {
        display: none !important;
    }
    .head_flex {
        padding: 10px 10px;
        box-sizing: border-box;
        justify-content: center !important;
       
    }
    .header {
        height: 84px !important;
    }
    .moblie_logo {
        display: inline-block;
    }
    .h_nav_box {
        width: 100%;
        justify-content: space-between !important;
    }
    .moblie_logo img {
        width: 100%;
    }
}