body {font-family:'Open Sans','Noto Sans KR','Apple SD 산돌고딕 Neo','Apple SD Gothic Neo','나눔고딕',NanumGothic,ng,sans-serif ;}



.m_r_content_box {
    width: 100%;
    height: 100%;
    display: flex;
    gap: 20px;
    flex-direction: column;
}
.mr_page_title {
    font-weight: 500;
    color: #222;
    font-size: 30px;
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 30px;
}


.mr_img {
    width: 100%;
    height: 400px;
}
.box_img{
    width: 100%;
    height: 100%;
}
.cen2_1 {
    background: url(../img/medi_center/page-img1.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.cen2_5 {
    background: url(../img/medi_center/page-img4.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.cen2_10 {
    background: url(../img/medi_center/page-img10.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.cen2_11 {
    background: url(../img/medi_center/page-img10.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.cen2_15 {
    background: url(../img/medi_center/page-img1.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.cen2_18 {
    background: url(../img/medi_center/page-img4.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.cen2_24 {
    background: url(../img/medi_center/page-img10.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.cen2_25 {
    background: url(../img/medi_center/page-img4.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.mr_content{
    display: flex;
    flex-direction: column;
    color: #777;
}

.mr_c_title {
    font-size: 25px;
    font-weight: 500;
    color: #007dd6;
}
.mr_c_box {
    display: flex;
    flex-direction: column;
    gap: 25px;

    padding-top: 40px;
    padding-bottom: 50px;
    border-bottom: 1px solid #ddd;
    box-sizing: border-box;
}
.mr_c_box:nth-of-type(5) {border-bottom: none;}
.mr_c_content {
    display: flex;
    flex-direction: column;
    font-size: 16px;
}
.mr_special > span:nth-of-type(2),
.mr_special > span:nth-of-type(1) {color: #333; font-size: 20px; font-weight: 500;}

.mr_special > span:nth-of-type(2) {margin-bottom: 18px;}

.mr_c_ect {
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 16px;
}
.ect_icon {
    width: 15px;
    height: 15px;
    background-color: #007dd6;
    border-radius: 3px;
}

.mr_c_content > span {
    display: flex;
    align-items: center;
    gap: 8px;
    padding-bottom: 5px;
    box-sizing: border-box;
}
.list_icon {
    width: 9px;
    height: 9px;
    border: 2px solid #0dcaf0;
    border-radius: 3px;
}


.mr_title {
    font-size: 25px;
    font-weight: 500;
    color: #222;
}

.mr_cb_content {
    display: flex;
    justify-content: flex-start;
    gap: 20px;
    flex-wrap: wrap;
    padding-top: 10px;
    box-sizing: border-box;
}
.mr_doc_n {
    width: calc(25% - (8px * 2));
    border-radius: 5px;
    background-color: #5C9FE3;
    color: #fff;
    font-size: 17px;
    text-align: center;
    margin-bottom: 10px;
}
.mr_doc_n > a {
    padding: 18px 40px;
    box-sizing: border-box;
}




@media (max-width: 1150px) {
    .mr_cb_content {flex-direction: column;}
    .mr_doc_n {width: 100%;}
}

@media (max-width: 576px) {
    .mr_img {
        height: 300px;
    }
}
@media (max-width: 300px)  {
    .mr_c_content > span {line-height: 27px;}
    .m_r_content_box {gap: 0;}
}