body {font-family:'Open Sans','Noto Sans KR','Apple SD 산돌고딕 Neo','Apple SD Gothic Neo','나눔고딕',NanumGothic,ng,sans-serif ;}

.m_left {
    height: auto!important;
}
.m_right > p {
    font-size: 16px;
    color: #555;
    margin-top: 0;
    font-weight: 500;
}

.table {
    width: 100%;
    font-size: 14px;
    border-bottom: 1px solid #ddd;
    border-collapse: collapse; 
    border-spacing: 0
}
.table > thead th {
    background-color: #f2f2f2;
    border-top: 2px solid #444547;
    border-bottom: 1px solid #bbb;
    font-weight: 400;

    padding: 15px 10px;
    vertical-align: middle;
    box-sizing: border-box;
    color: #777;
}
.table > tbody td {
    padding: 15px 10px;
    box-sizing: border-box;
    border-top: 1px solid #e1e1e1;
    color: #777;
}

.t_center {text-align: center;}
.color {
    color: #333 !important;
}

.table > tbody tr:hover {
    background: #e6e6e6;
}


.turn_table_box {
    width: 100%;
    margin-top: 20px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}
.t_btn {
    padding: 10px;
    box-sizing: border-box;
    border: 1px solid #dee2e6;
    color: #6c757d;
    font-size: 13px;
}
.t_num_btn {border-left: none; border-right: none;}
.t_btn:hover {
    background-color: #e9ecef;
    border: 1px solid #dee2e6;
}
.t_num_btn:hover  {border-left: none; border-right: none;}
.m_select_nav_box {
    margin-bottom: 30px;
}

@media (max-width: 1150px) {
    .m_right {
        width: 100% !important;
    }
    .main_center > .container {
        max-width: 820px !important;
        padding: 0 20px;
        box-sizing: border-box;
    }
    .d_none {
        display: none !important;
    }
    .right {
        text-align: center;
    }
}
@media (max-width: 767px) {
    .main_center > .container {
        max-width: 540px !important;
    }
}